@import 'assets/styles/variables';
@import 'assets/styles/mixins';


.container{
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0px;
	padding: 50px 10px;
	width: min(75vw, 300px);
	height: 100vh;
	background-color: $purple;
	box-shadow: -10px 0px 30px -15px $dark;
	z-index: 9;
	transform: translateX(100vw);
	visibility: hidden;
	transition: $transition;

	nav {
		display: flex;
		align-items: center;
		text-align: center;
		width: 100%;
		flex-direction: column;
		justify-content: space-between;
		font-family: $font-mono;


		> ul {
			width: 100%;

			li {
				position: relative;
				margin: 0px auto 20px;
				counter-increment: item 1;

				a {
					display: inline-block;
					text-decoration: none;
					color: $lightest-purple;
					position: relative;
					transition: $transition;
					width: 100%;
					padding: 3px 20px 20px;
					font-size: clamp($fz-sm, 5vw, $fz-lg);
					
					&:hover {
						color: $primary-color;
					}

					&:before {
						content: "0" counter(item) ".";
						display: block;
						font-family: $font-mono;
						color: $primary-color;
						margin-bottom: 5px;
						font-size: clamp($fz-sm, 5vw, $fz-lg);
						text-align: center;
					}
				}
			}
		}
	}
	@media(min-width: 768px) {
		display: none;
	}
}


.active {
	transform: translateX(0vw);
	visibility: visible;
}
