@import 'assets/styles/variables';
@import 'assets/styles/mixins';


.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;

	> ul {
		display: flex;
		align-items: center;
		justify-content: center;
		
		li {
			margin: 0 5px;
			counter-increment: item 1;
			
			a {
				padding: 10px;
				text-decoration: none;
				color: $lightest-purple;
				font-size: $fz-xs;
				transition: $transition;

				&:hover {
					color: $primary-color
				}
	
				&:before {
					font-family: $font-mono;
					content: '0' counter(item) '.';
					margin-right: 5px;
					color: $primary-color;
					font-size: $fz-xs;
					text-align: right;
				}
			}
		}
	}
	@media(max-width: 768px){
		display: none;
	}
}

