.container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	
	> span {
		position: absolute;
		display: inline-block;
		color: red;
		@media (max-width: 1000px) {
			padding-top: 360px;
		}
	}
}
