@import 'assets/styles/variables';
@import 'assets/styles/mixins';

.section {
	background-color: transparent;

	> ul {
		list-style: none;
    padding: 40px 0px 0px 0px;
    margin: 0px;

		> li {
			position: relative;
			display: grid;
			gap: 10px;
			grid-template-columns: repeat(12, 1fr);
			align-items: center;
			visibility: visible;
			opacity: 1;
			transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
	
			> div:first-child {
				position: relative;
				grid-row: 1 / -1;
				grid-column: 7 / -1;
				text-align: right;
				z-index: 2;
				 

				.title {
					color: #ffee32;
					font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
					font-size: clamp($fz-lg, 5vw, $fz-xxl);
					font-weight: 400;
				}
				.description {
					background-color:$dark-purple-transparent;
					border-radius: 10px;
					backdrop-filter: blur(3px);
					padding: 20px;
					> p {
						font-size: 18px;
						
					}
				}
				.stack {
					display: flex;
					justify-content: space-between;
					align-items: center;

					.item {

					}
				}
				.links {

				}

				@include desktopS {
					grid-column: 5 / -1;
				}
				@include tabletL {
					grid-column: 1 / -1;
					padding: 40px 40px 30px;
					text-align: left;
				}
			}
	
			> div:last-child {
				box-shadow: 0 10px 30px -15px $dark;
				transition: $transition;
				grid-row: 1 / -1;
				grid-column: 1 / 8;
				position: relative;
				z-index: 1;
				height: 350px;

				> div {
				
					> img {
						object-fit: contain;
	
						@include tabletL {
							object-fit: cover;
						}
					}
				}
				@include tabletL {
					grid-column: 1 / -1;
				}
			}
		}
	}
}