@import 'assets/styles/variables';
@import 'assets/styles/mixins';

.section {
	background-color: transparent;

	> .list {
		list-style: none;
    padding: 40px 0px 0px 0px;
    margin: 0px;

		> li {
			position: relative;
			display: grid;
			gap: 10px;
			grid-template-columns: repeat(12, 1fr);
			align-items: center;
			visibility: visible;
			opacity: 1;
			transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
	
			> div:first-child {
				position: relative;
				grid-row: 1 / -1;
				grid-column: 7 / -1;
				text-align: right;
				z-index: 2;
				 

				.title {
					color: $white;
					font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
					font-size: clamp($fz-md, 5vw, $fz-xl);
					font-weight: 400;
					margin-bottom: 20px;
				}
				.description {
					box-shadow: 0 10px 30px -15px $dark;
					background-color: $purple-purple-transparent;
					border-radius: 10px;
					backdrop-filter: blur(3px);
					padding: 20px;
					> p {
						font-size: 18px;
					}
					@include tabletL {
						background-color: transparent;
						padding: 0px;
					}

				}
				.stack {
					display: flex;
					justify-content: space-around;
					align-items: center;
					margin-top: 20px;
					margin-bottom: 20px;

					.item {
						margin-right: 10px;
					}

					@include tabletL {
						flex-wrap: wrap;
						justify-content: flex-start;
					}
				}
				.links {
					display: flex;
					align-items: center;
					justify-content: flex-end;
					font-size: 30px;
					line-height: .1;

					> a {
						color: $white;
						text-decoration: none;
						margin: 0px 10px;
					}
				}

				@include desktopS {
					grid-column: 5 / -1;
				}
				@include tabletL {
					
					grid-column: 1 / -1;
					padding: 40px 40px 30px;
					text-align: left;
				}
				@include mobileL {
					padding: 25px 25px 20px;
				}
				
			}
	
			> div:last-child {
				box-shadow: 0 10px 30px -15px $dark;
				transition: $transition;
				grid-row: 1 / -1;
				grid-column: 1 / 8;
				position: relative;
				z-index: 1;
				height: 350px;

				> div {
				
					> img {
						object-fit: contain;
	
						@include tabletL {
							object-fit: cover;
						}
					}
				}
				@include tabletL {
					height: 100%;
					filter: brightness(10%);
					grid-column: 1 / -1;
				}
			}
		}
	}
}