@import 'assets/styles/variables';
@import 'assets/styles/mixins';

.section {
	max-width: 400px;
	
	> div {
		padding-top: 40px;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		justify-content: space-around;

		> h1 {
			font-size: 48px;
			color: $white;
		}
	} 
	
}