//===========================
//========= SF Mono =========
//===========================

@font-face {
	font-family: 'SF Mono';
	src: url('../../../public/fonts/SFMono/SFMono-Regular.woff2') format('woff2'), url('../../../public/fonts/SFMono/SFMono-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'SF Mono';
	src: url('../../../public/fonts/SFMono/SFMono-Semibold.woff2') format('woff2'), url('../../../public/fonts/SFMono/SFMono-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'SF Mono';
	src: url('../../../public/fonts/SFMono/SFMono-RegularItalic.woff2') format('woff2'), url('../../../public/fonts/SFMono/SFMono-RegularItalic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
	font-display: auto;
}

@font-face {
	font-family: 'SF Mono';
	src: url('../../../public/fonts/SFMono/SFMono-SemiboldItalic.woff2') format('woff2'), url('../../../public/fonts/SFMono/SFMono-SemiboldItalic.woff') format('woff');
	font-weight: 600;
	font-style: italic;
	font-display: auto;
}

//===========================
//========= Calibre =========
//===========================

@font-face {
	font-family: 'Calibre';
	src: url('../../../public/fonts/Calibre/Calibre-Regular.woff2') format('woff2'), url('../../../public/fonts/Calibre/Calibre-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'Calibre';
	src: url('../../../public/fonts/Calibre/Calibre-Medium.woff2') format('woff2'), url('../../../public/fonts/Calibre/Calibre-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'Calibre';
	src: url('../../../public/fonts/Calibre/Calibre-Semibold.woff2') format('woff2'), url('../../../public/fonts/Calibre/Calibre-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'Calibre';
	src: url('../../../public/fonts/Calibre/Calibre-RegularItalic.woff2') format('woff2'), url('../../../public/fonts/Calibre/Calibre-RegularItalic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
	font-display: auto;
}

@font-face {
	font-family: 'Calibre';
	src: url('../../../public/fonts/Calibre/Calibre-MediumItalic.woff2') format('woff2'), url('../../../public/fonts/Calibre/Calibre-MediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
	font-display: auto;
}

@font-face {
	font-family: 'Calibre';
	src: url('../../../public/fonts/Calibre/Calibre-SemiboldItalic.woff2') format('woff2'), url('../../../public/fonts/Calibre/Calibre-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: italic;
	font-display: auto;
}

//===========================
//========== Lato ===========
//===========================


@font-face {
	font-family: 'Lato';
	src: url('../../../public/fonts/Lato/Lato-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'Lato';
	src: url('../../../public/fonts/Lato/Lato-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'Lato';
	src: url('../../../public/fonts/Lato/Lato-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: auto;
}