@import 'assets/styles/variables';
@import 'assets/styles/mixins';

.section {
	background-color: transparent;
	max-width: 700px;

	.inner {
		padding-top: 40px;
		display: flex;

		@include tabletS{
			flex-direction: column;
		}
	}
}