@import 'assets/styles/variables';
@import 'assets/styles/mixins';

.container{
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 50px;


	@include desktopXS {
		flex-direction: column;
		gap: 25px;
	}

}
