@import 'assets/styles/variables';
@import 'assets/styles/mixins';

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0px;
	z-index: 11;
	padding: 0px 50px;
	width: 100%;
	height: $nav-height;
	background-color: $dark-purple;
	transition: $transition;
	
	@include desktopS {
		padding: 0 40px
	}
	@include tabletL {
		padding: 0 25px
	}
}

.up {
	height: $nav-scroll-height;
	transform: translateY(0px);
	background-color: $dark-purple-transparent;
	box-shadow: 0 10px 30px -10px $dark;
}

.down {
	height: $nav-scroll-height;
	transform: translateY(calc($nav-scroll-height) * -1);
}