@import 'assets/styles/variables';
@import 'assets/styles/mixins';

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0px;
	z-index: 11;
	padding: 0px 50px;
	width: 100%;
	height: $nav-height;
	background-color: $dark;
	backdrop-filter: blur(10px);
	transition: $transition;
	filter: none !important;
	pointer-events: auto !important;
	user-select: auto !important;
	

	@include desktopS {
		padding: 0 40px
	}
	@include tabletL {
		padding: 0 25px
	}

}


// стиль header при скроле вверх  
.up {
	height: $nav-scroll-height;
	transform: translateY(0px);
	background-color: $black-transparent;
	box-shadow: 0 10px 30px -10px $navy-shadow;
}

// стиль header при скроле вниз 
.down {
	height: $nav-scroll-height;
	transform: translateY(calc($nav-scroll-height) * -1);
	box-shadow: 0 10px 30px -10px $navy-shadow;
}