@import 'assets/styles/variables';
@import 'assets/styles/mixins';


.container{
	display: none;
}

@media(max-width: 768px) {
	.container{
		display: block;
		
		.burger {
			display: flex;
			position: relative;
			cursor: pointer;
			border: none;
			padding: 0;
			z-index: 10;
		
			> span {
				height: 2px;
				width: 35px;
				transition-duration: .1s;
				transition-delay: .1s;	
		
				&::before {
					left: 0;
					position: absolute;
					top: -8px;
					height: 2px;
					width: 35px;
					background-color: $lightest-purple;
					content: "";
					transition-duration: .25s;
					transition: transform .25s, top .25s .25s;
				}
		
				&::after {
					left: 0;
					position: absolute;
					top: 8px;
					height: 2px;
					width: 35px;
					background-color: $lightest-purple;
					content: "";
					transition-duration: .25s;
					transition: transform .25s, top .25s .25s;
				}
			}
		}
		
		.active {
			display: flex;
			cursor: pointer;
			position: relative;
			border: none;
			padding: 0;
			z-index: 10;
		
			> span {
				height: 0px;
				transition-duration: 0.1s;
				transition-delay: .25s;
				background-color: none;
				background: transparent;
		
				&::before {
					transition: top .25s, transform .25s .25s;
					top: 0px;
					transform: rotateZ(-45deg);
				}
		
				&::after {
					transition: top 0.4s, transform .25s .25s;
					top: 0px;
					transform: rotateZ(45deg);
				}
			}
		}
	}
}




