@import 'assets/styles/variables';
@import 'assets/styles/mixins';


.hamContainer{
	display: none;
}

@media(max-width: 768px) {
	.hamContainer{
		border: 0;
		padding: 0;
		background-color: transparent;
		display: block;
		z-index: 100;
		height: 60px;
		width: 45px;

		.ham {
			z-index: 1;
			cursor: pointer;
			-webkit-tap-highlight-color: transparent;
			transition: transform 400ms;
			-moz-user-select: none;
			-webkit-user-select: none;
			-ms-user-select: none;
			user-select: none;
			width: 60px;
	
			.line {
				fill:none;
				transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
				stroke:#fff;
				stroke-width:5.5;
				stroke-linecap:round;
			}
	
			.top {
				stroke-dasharray: 40 160;
			}
	
			.middle {
				stroke-dasharray: 40 142;
				transform-origin: 50%;
				transition: transform 400ms;
			}
		
			.bottom {
				stroke-dasharray: 40 85;
				transform-origin: 50%;
				transition: transform 400ms, stroke-dashoffset 400ms;
			}
		}
	
		.active {
			transform: rotate(45deg);
			> .top {
				stroke-dashoffset: -64px;
			}
			> .middle {
				transform: rotate(90deg);
			}
			> .bottom {
				stroke-dashoffset: -64px;
			}
		}
	}
	
}

// @media(max-width: 768px) {
// 	.container{
// 		display: block;
		
// 		.burger {
// 			cursor: pointer;
// 			display: flex;
// 			position: relative;
// 			cursor: pointer;
// 			border: none;
// 			padding: 0;
// 			z-index: 10;
		
// 			> span {
// 				height: 2px;
// 				width: 35px;
// 				transition-duration: .1s;
// 				transition-delay: .1s;	
		
// 				&::before {
// 					content: "";
// 					left: 0;
// 					position: absolute;
// 					top: -8px;
// 					height: 2px;
// 					width: 35px;
// 					background-color: $lightest-purple;
// 					transition-duration: .25s;
// 					transition: transform .25s, top .25s .25s;
// 				}
		
// 				&::after {
// 					content: "";
// 					left: 0;
// 					position: absolute;
// 					top: 8px;
// 					height: 2px;
// 					width: 35px;
// 					background-color: $lightest-purple;
// 					transition-duration: .25s;
// 					transition: transform .25s, top .25s .25s;
// 				}
// 			}
// 		}
		
// 		.active {
// 			display: flex;
// 			cursor: pointer;
// 			position: relative;
// 			border: none;
// 			padding: 0;
// 			z-index: 10;
		
// 			> span {
// 				height: 0px;
// 				transition-duration: 0.1s;
// 				transition-delay: .25s;
// 				background-color: none;
// 				background: transparent;
		
// 				&::before {
// 					transition: top .25s, transform .25s .25s;
// 					top: 0px;
// 					transform: rotateZ(-45deg);
// 				}
		
// 				&::after {
// 					transition: top 0.4s, transform .25s .25s;
// 					top: 0px;
// 					transform: rotateZ(45deg);
// 				}
// 			}
// 		}
// 	}
// }




