@import 'assets/styles/variables';
@import 'assets/styles/mixins';

.tabPanel {
  position: relative;
  width: 100%;
  margin-left: 20px;
  
	@include tabletS {
		margin: 0;
	}
  > div {
    padding: 10px 5px;

    > h3 {
      margin-bottom: 2px;
      font-size: $fz-xxl;
      font-weight: 500;
      line-height: 1.3;
      > span {

        > a {
          text-decoration: none;
        }
      }
    }

    > p {
      margin-bottom: 25px;
      font-family: $font-mono;
      font-size: $fz-xs;
    }

    > div {
      font-size: 18px;
			
      > ul {
        padding: 0px;
        margin: 0px;
        list-style: none;
        font-size: $fz-lg;
        > li {
          position: relative;
          padding-left: 30px;
          margin-bottom: 10px;

					&::before {
						content: '>';
						position: absolute;
						left: 0px;
						color: red;
						font-size: 20px;
					}
        }
      }
     }
  }
}