@import 'assets/styles/variables';
@import 'assets/styles/mixins';

.wrapper {
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 1600px;
	min-height: 100vh;
	padding: 200px 150px;

	@include desktopS {
		padding: 200px 100px;
	}
	@include tabletL {
		padding: 150px 50px;
	}
	@include mobileL {
		padding: 125px 25px;
	}

	&.fillHeight {
		padding: 0 150px;
		
		@include desktopS {
			padding: 0 100px;
		}
		@include tabletL {
			padding: 0 50px;
		}
		@include mobileL {
			padding: 0 25px;
		}
	}
}



